USE [master]
GO
/****** Object:  Database [star_energy_enviro]    Script Date: 9/25/2013 4:59:56 PM ******/
CREATE DATABASE [star_energy_enviro] ON  PRIMARY 
( NAME = N'star_energy_enviro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\star_energy_enviro.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'star_energy_enviro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\star_energy_enviro_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [star_energy_enviro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [star_energy_enviro]
GO
/****** Object:  Table [dbo].[hazardous_record]    Script Date: 9/25/2013 4:59:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hazardous_record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[id_waste] [int] NULL,
	[id_source] [int] NULL,
	[no_kemasan] [varchar](100) NULL,
	[kemasan] [varchar](255) NULL,
	[volume_weight] [varchar](255) NULL,
	[internal_document] [varchar](50) NULL,
	[type] [tinyint] NULL,
	[tujuan] [varchar](255) NULL,
	[external_document] [varchar](255) NULL,
	[id_satuan] [int] NULL,
 CONSTRAINT [PK_hazardous_record] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[satuan_unit]    Script Date: 9/25/2013 4:59:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[satuan_unit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[satuan] [varchar](50) NULL,
	[unit_conversion] [float] NULL,
 CONSTRAINT [PK_satuan_unit] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[source_of_waste]    Script Date: 9/25/2013 4:59:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[source_of_waste](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[source] [varchar](255) NULL,
 CONSTRAINT [PK_source_of_waste] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[type_of_waste]    Script Date: 9/25/2013 4:59:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[type_of_waste](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
 CONSTRAINT [PK_type_of_waste] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[waste_hazardous]    Script Date: 9/25/2013 4:59:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[waste_hazardous](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[waste_code] [varchar](255) NULL,
 CONSTRAINT [PK_waste_hazardous] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[hazardous_record] ON 

INSERT [dbo].[hazardous_record] ([id], [date], [id_waste], [id_source], [no_kemasan], [kemasan], [volume_weight], [internal_document], [type], [tujuan], [external_document], [id_satuan]) VALUES (1, CAST(0x9F370B00 AS Date), 1, 10, N'1 - 2', N'20 drums', N'1000', N'wwwwwwwwwwww', 0, NULL, NULL, 1)
INSERT [dbo].[hazardous_record] ([id], [date], [id_waste], [id_source], [no_kemasan], [kemasan], [volume_weight], [internal_document], [type], [tujuan], [external_document], [id_satuan]) VALUES (3, CAST(0x9F370B00 AS Date), 1, NULL, NULL, N'sadasdas', N'1250', N'erterte', 1, N'retertret ert', N'ertert', 1)
SET IDENTITY_INSERT [dbo].[hazardous_record] OFF
SET IDENTITY_INSERT [dbo].[satuan_unit] ON 

INSERT [dbo].[satuan_unit] ([id], [satuan], [unit_conversion]) VALUES (1, N'litres', 1)
SET IDENTITY_INSERT [dbo].[satuan_unit] OFF
SET IDENTITY_INSERT [dbo].[source_of_waste] ON 

INSERT [dbo].[source_of_waste] ([id], [source]) VALUES (10, N'Laboratorium')
INSERT [dbo].[source_of_waste] ([id], [source]) VALUES (11, N'Testing Unit asdweq w')
INSERT [dbo].[source_of_waste] ([id], [source]) VALUES (12, N'Bla bla bla bla bla')
SET IDENTITY_INSERT [dbo].[source_of_waste] OFF
SET IDENTITY_INSERT [dbo].[type_of_waste] ON 

INSERT [dbo].[type_of_waste] ([id], [name]) VALUES (1, N'asdhkja asjdhajkda')
SET IDENTITY_INSERT [dbo].[type_of_waste] OFF
SET IDENTITY_INSERT [dbo].[waste_hazardous] ON 

INSERT [dbo].[waste_hazardous] ([id], [name], [waste_code]) VALUES (1, N'asdsd asda sd', N'D 123112')
SET IDENTITY_INSERT [dbo].[waste_hazardous] OFF
ALTER TABLE [dbo].[hazardous_record]  WITH CHECK ADD  CONSTRAINT [FK_hazardous_record_satuan_unit] FOREIGN KEY([id_satuan])
REFERENCES [dbo].[satuan_unit] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hazardous_record] CHECK CONSTRAINT [FK_hazardous_record_satuan_unit]
GO
ALTER TABLE [dbo].[hazardous_record]  WITH CHECK ADD  CONSTRAINT [FK_hazardous_record_source_of_waste] FOREIGN KEY([id_source])
REFERENCES [dbo].[source_of_waste] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hazardous_record] CHECK CONSTRAINT [FK_hazardous_record_source_of_waste]
GO
ALTER TABLE [dbo].[hazardous_record]  WITH CHECK ADD  CONSTRAINT [FK_hazardous_record_waste_hazardous] FOREIGN KEY([id_waste])
REFERENCES [dbo].[waste_hazardous] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hazardous_record] CHECK CONSTRAINT [FK_hazardous_record_waste_hazardous]
GO
USE [master]
GO
