USE [master]
GO
/****** Object:  Database [star_energy_enviro]    Script Date: 10/28/2013 3:40:22 PM ******/
CREATE DATABASE [star_energy_enviro] ON  PRIMARY 
( NAME = N'star_energy_enviro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\star_energy_enviro.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'star_energy_enviro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\star_energy_enviro_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [star_energy_enviro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [star_energy_enviro]
GO
/****** Object:  Table [dbo].[graphic_data]    Script Date: 10/28/2013 3:40:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[graphic_data](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[id_lokasi] [int] NULL,
	[id_parameter] [int] NULL,
	[hasil_analisis] [float] NULL,
	[type] [tinyint] NULL,
	[is_galat] [tinyint] NULL,
 CONSTRAINT [PK_graphic_data] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[graphic_parameter]    Script Date: 10/28/2013 3:40:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[graphic_parameter](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parameter] [varchar](255) NULL,
	[type] [int] NULL,
 CONSTRAINT [PK_graphic_parameter] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[graphic_type]    Script Date: 10/28/2013 3:40:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[graphic_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[peraturan] [varchar](255) NULL,
 CONSTRAINT [PK_graphic_type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[graphics_unit]    Script Date: 10/28/2013 3:40:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[graphics_unit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[unit] [varchar](255) NULL,
 CONSTRAINT [PK_graphics_unit] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hazardous_record]    Script Date: 10/28/2013 3:40:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hazardous_record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[id_waste] [int] NULL,
	[id_source] [int] NULL,
	[no_kemasan] [varchar](100) NULL,
	[kemasan] [varchar](255) NULL,
	[volume_weight] [float] NULL,
	[internal_document] [varchar](50) NULL,
	[type] [tinyint] NULL,
	[tujuan] [varchar](255) NULL,
	[external_document] [varchar](255) NULL,
	[id_satuan] [int] NULL,
	[max_penyimpanan] [date] NULL,
 CONSTRAINT [PK_hazardous_record] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[lokasi_sampling]    Script Date: 10/28/2013 3:40:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[lokasi_sampling](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lokasi_sampling] [varchar](255) NULL,
	[type] [tinyint] NULL,
 CONSTRAINT [PK_lokasi_sampling] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[non_hazardous_record]    Script Date: 10/28/2013 3:40:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[non_hazardous_record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NULL,
	[id_type] [int] NULL,
	[waste_in] [float] NULL,
	[waste_out] [float] NULL,
	[recycle_rate] [float] NULL,
 CONSTRAINT [PK_non_hazardous_record] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[satuan_unit]    Script Date: 10/28/2013 3:40:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[satuan_unit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[satuan] [varchar](50) NULL,
	[unit_conversion] [float] NULL,
 CONSTRAINT [PK_satuan_unit] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[source_of_waste]    Script Date: 10/28/2013 3:40:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[source_of_waste](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[source] [varchar](255) NULL,
 CONSTRAINT [PK_source_of_waste] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[type_of_waste]    Script Date: 10/28/2013 3:40:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[type_of_waste](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
 CONSTRAINT [PK_type_of_waste] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[waste_hazardous]    Script Date: 10/28/2013 3:40:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[waste_hazardous](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[waste_code] [varchar](255) NULL,
 CONSTRAINT [PK_waste_hazardous] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[graphic_data] ON 

INSERT [dbo].[graphic_data] ([id], [date], [id_lokasi], [id_parameter], [hasil_analisis], [type], [is_galat]) VALUES (1, CAST(0xB5370B00 AS Date), 1, 4, 38, 1, NULL)
INSERT [dbo].[graphic_data] ([id], [date], [id_lokasi], [id_parameter], [hasil_analisis], [type], [is_galat]) VALUES (19, CAST(0xB5370B00 AS Date), 2, 2, 15, 2, NULL)
INSERT [dbo].[graphic_data] ([id], [date], [id_lokasi], [id_parameter], [hasil_analisis], [type], [is_galat]) VALUES (20, CAST(0xB6370B00 AS Date), 3, 1, 9, 1, NULL)
SET IDENTITY_INSERT [dbo].[graphic_data] OFF
SET IDENTITY_INSERT [dbo].[graphic_parameter] ON 

INSERT [dbo].[graphic_parameter] ([id], [parameter], [type]) VALUES (1, N'pH', 1)
INSERT [dbo].[graphic_parameter] ([id], [parameter], [type]) VALUES (2, N'Minyak dan Lemak', 2)
INSERT [dbo].[graphic_parameter] ([id], [parameter], [type]) VALUES (3, N'TOC', 2)
SET IDENTITY_INSERT [dbo].[graphic_parameter] OFF
SET IDENTITY_INSERT [dbo].[graphic_type] ON 

INSERT [dbo].[graphic_type] ([id], [name], [peraturan]) VALUES (1, N'Monitoring Wells', N'Surat dari Kementerian Negara LH Nomor : B-7993/Dep.IV/LH/10/2007 tentang Surat Tidak Keberatan Penempatan Limbah Drilling Cutting di Landfill WWQ Magma Nusantara, Ltd')
INSERT [dbo].[graphic_type] ([id], [name], [peraturan]) VALUES (2, N'Drainage Effluent', N'PerMenLH No 19/2010 ')
INSERT [dbo].[graphic_type] ([id], [name], [peraturan]) VALUES (3, N'Produced Water', N'PerMenLH No 4/2007')
SET IDENTITY_INSERT [dbo].[graphic_type] OFF
SET IDENTITY_INSERT [dbo].[graphics_unit] ON 

INSERT [dbo].[graphics_unit] ([id], [unit]) VALUES (1, N'mg/l')
SET IDENTITY_INSERT [dbo].[graphics_unit] OFF
SET IDENTITY_INSERT [dbo].[hazardous_record] ON 

INSERT [dbo].[hazardous_record] ([id], [date], [id_waste], [id_source], [no_kemasan], [kemasan], [volume_weight], [internal_document], [type], [tujuan], [external_document], [id_satuan], [max_penyimpanan]) VALUES (1, CAST(0x9F370B00 AS Date), 1, 10, N'1 - 2', N'20 drums', 1000, N'wwwwwwwwwwww', 0, NULL, NULL, 1, NULL)
INSERT [dbo].[hazardous_record] ([id], [date], [id_waste], [id_source], [no_kemasan], [kemasan], [volume_weight], [internal_document], [type], [tujuan], [external_document], [id_satuan], [max_penyimpanan]) VALUES (3, CAST(0x9F370B00 AS Date), 1, NULL, NULL, N'sadasdas', 1250, N'erterte', 1, N'retertret ert', N'ertert', 1, NULL)
INSERT [dbo].[hazardous_record] ([id], [date], [id_waste], [id_source], [no_kemasan], [kemasan], [volume_weight], [internal_document], [type], [tujuan], [external_document], [id_satuan], [max_penyimpanan]) VALUES (4, CAST(0xA4370B00 AS Date), 1, 10, N'3 - 4', N'30 drums', 3000, N'wadawdwae', 0, NULL, NULL, 1, CAST(0xED370B00 AS Date))
SET IDENTITY_INSERT [dbo].[hazardous_record] OFF
SET IDENTITY_INSERT [dbo].[lokasi_sampling] ON 

INSERT [dbo].[lokasi_sampling] ([id], [lokasi_sampling], [type]) VALUES (1, N'Baku Mutu', 1)
INSERT [dbo].[lokasi_sampling] ([id], [lokasi_sampling], [type]) VALUES (2, N'Baku Mutu', 2)
INSERT [dbo].[lokasi_sampling] ([id], [lokasi_sampling], [type]) VALUES (3, N'Baku Mutu Atas', 1)
SET IDENTITY_INSERT [dbo].[lokasi_sampling] OFF
SET IDENTITY_INSERT [dbo].[non_hazardous_record] ON 

INSERT [dbo].[non_hazardous_record] ([id], [date], [id_type], [waste_in], [waste_out], [recycle_rate]) VALUES (16, CAST(0xA6370B00 AS Date), 2, 150, 50, 20)
INSERT [dbo].[non_hazardous_record] ([id], [date], [id_type], [waste_in], [waste_out], [recycle_rate]) VALUES (18, CAST(0xA5370B00 AS Date), 1, 100, 80, 80)
INSERT [dbo].[non_hazardous_record] ([id], [date], [id_type], [waste_in], [waste_out], [recycle_rate]) VALUES (19, CAST(0x9D370B00 AS Date), 1, 50, 10, 10)
SET IDENTITY_INSERT [dbo].[non_hazardous_record] OFF
SET IDENTITY_INSERT [dbo].[satuan_unit] ON 

INSERT [dbo].[satuan_unit] ([id], [satuan], [unit_conversion]) VALUES (1, N'litres', 1)
SET IDENTITY_INSERT [dbo].[satuan_unit] OFF
SET IDENTITY_INSERT [dbo].[source_of_waste] ON 

INSERT [dbo].[source_of_waste] ([id], [source]) VALUES (10, N'Laboratorium')
INSERT [dbo].[source_of_waste] ([id], [source]) VALUES (11, N'Testing Unit asdweq w')
SET IDENTITY_INSERT [dbo].[source_of_waste] OFF
SET IDENTITY_INSERT [dbo].[type_of_waste] ON 

INSERT [dbo].[type_of_waste] ([id], [name]) VALUES (1, N'Organik')
INSERT [dbo].[type_of_waste] ([id], [name]) VALUES (2, N'Kertas')
SET IDENTITY_INSERT [dbo].[type_of_waste] OFF
SET IDENTITY_INSERT [dbo].[waste_hazardous] ON 

INSERT [dbo].[waste_hazardous] ([id], [name], [waste_code]) VALUES (1, N'asdsd asda sd', N'D 123112')
INSERT [dbo].[waste_hazardous] ([id], [name], [waste_code]) VALUES (2, N'erertvfdfd', N'D 45454')
SET IDENTITY_INSERT [dbo].[waste_hazardous] OFF
ALTER TABLE [dbo].[graphic_data]  WITH CHECK ADD  CONSTRAINT [FK_graphic_data_graphic_parameter] FOREIGN KEY([id_parameter])
REFERENCES [dbo].[graphic_parameter] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[graphic_data] CHECK CONSTRAINT [FK_graphic_data_graphic_parameter]
GO
ALTER TABLE [dbo].[graphic_data]  WITH CHECK ADD  CONSTRAINT [FK_graphic_data_lokasi_sampling] FOREIGN KEY([id_lokasi])
REFERENCES [dbo].[lokasi_sampling] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[graphic_data] CHECK CONSTRAINT [FK_graphic_data_lokasi_sampling]
GO
ALTER TABLE [dbo].[hazardous_record]  WITH CHECK ADD  CONSTRAINT [FK_hazardous_record_satuan_unit] FOREIGN KEY([id_satuan])
REFERENCES [dbo].[satuan_unit] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hazardous_record] CHECK CONSTRAINT [FK_hazardous_record_satuan_unit]
GO
ALTER TABLE [dbo].[hazardous_record]  WITH CHECK ADD  CONSTRAINT [FK_hazardous_record_source_of_waste] FOREIGN KEY([id_source])
REFERENCES [dbo].[source_of_waste] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hazardous_record] CHECK CONSTRAINT [FK_hazardous_record_source_of_waste]
GO
ALTER TABLE [dbo].[hazardous_record]  WITH CHECK ADD  CONSTRAINT [FK_hazardous_record_waste_hazardous] FOREIGN KEY([id_waste])
REFERENCES [dbo].[waste_hazardous] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hazardous_record] CHECK CONSTRAINT [FK_hazardous_record_waste_hazardous]
GO
ALTER TABLE [dbo].[non_hazardous_record]  WITH CHECK ADD  CONSTRAINT [FK_non_hazardous_record_type_of_waste] FOREIGN KEY([id_type])
REFERENCES [dbo].[type_of_waste] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[non_hazardous_record] CHECK CONSTRAINT [FK_non_hazardous_record_type_of_waste]
GO
USE [master]
GO
