@{
    Layout = null;
    ViewBag.Title = "Enviro - Source of Waste";
    
}
<div id="content-header">
	<h1>Sources of Waste</h1>
</div>
<div id="breadcrumb">
	<a href="#" title="Go to Master Data" class="tip-bottom home"><i class="icon-home"></i> Master Data</a>
	<a href="#" class="current">Sources of Waste</a>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
		        <div class="widget-title">
			        <span class="icon">
				        <i class="icon-align-justify"></i>									
			        </span>
			        <h5>Source of Waste</h5>
		        </div>
		        <div class="widget-content nopadding">
                    <div id="grid-source-waste" class="span12"></div>
		        </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var crudServiceBaseUrl = "SourceWaste",
            dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: crudServiceBaseUrl + "/Binding",
                        type: "POST"
                    },
                    update: {
                        url: crudServiceBaseUrl + "/Edit",
                        type: "POST"
                    },
                    destroy: {
                        url: crudServiceBaseUrl + "/Delete",
                        type: "POST"
                    },
                    create: {
                        url: crudServiceBaseUrl + "/Create",
                        type: "POST"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            var result = {};

                            for (var i = 0; i < options.models.length; i++) {
                                var product = options.models[i];

                                for (var member in product) {
                                    result["models[" + i + "]." + member] = product[member];
                                }
                            }

                            return result;
                        }
                    }
                },
                batch: true,
                pageSize: 30,
                schema: {
                    model: {
                        id: "id",
                        fields: {
                            id: { editable: false },
                            source: { type: 'string' },
                        }
                    }
                },
                pageSize: 10
            });

        $("#grid-source-waste").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            sortable: true,
            filterable: true,
            toolbar: ["create"],
            columns: [
                { field: "id", hidden: true },
                { field: "source", title: "Source" },
                {command: ["edit", "destroy"], width: "192px" }
            ],
            editable: "inline",
            height: 400
        });

        unload();
    });
</script>