<div id="content-header">
	<h1>Home</h1>
</div>
<div id="breadcrumb">
	<a href="#" class="current"><i class="icon-home"></i> Home</a>
</div><br />

<script>
    $(document).ready(function () {
        addHandlerMenu();
    })
</script>